 body{
    width: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
    flex-grow: 200px;
 }
 
   .container{
    display: flex;
    flex-direction: column;
    font-family: poppins;
}
:root {
    --main-color:#9844eb;
    --color2:#9844eb9a;/* Define the color variable */
    
}
 
.sub-container1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    background-color: white;
    background-image: url(../images/connecting-dots-background-network-communication-design.jpg);
    background-size: cover; /* This property ensures that the background image covers the entire container */
    background-position: center; /* This property centers the background image within the container */
    background-repeat: no-repeat; /* This property prevents the background image from repeating */
}
#but1{
    width:20%;
    border-radius: 5px;
    height: 4%;
    background-color: var(--main-color);
    border: none;
}
.heading{
    width: 50%;
    padding:2em;
    margin: 5em;
    
}
.image{
    width: 50%;
    /* margin-left: 20px; */
    margin: 40px;
    /* height: 20%; */
    position: relative;
    /* justify-content: end; */
    margin-left: 0.2em;
    height: 10%;

}
.icon{
    width: fit-content;
}
#image0{
    max-width: 100%;
  height: auto;
  border: none;

}
.foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-top: none; */
    margin-top: 0.5em;
} 
#foot1{
  text-align: center;
  font-weight: 500;
  color: var(--main-color);
}
#foot2{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.foot3{
    display: flex;
    margin-top:0.5em;
    
}
.foot1-1{
    display: flex;
    margin-top:0.5em;
 
   
}
.subfoot{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */

}
 #image1{
    /* padding-right: 0.1em;
     */
    width: 15%;
    height: auto;
}
.subfoot1-1{
    margin-bottom:0.1em;
    
} 
.subfoot1-2{
    /* margin-bottom: 5px; */
    font-weight: 300;
    margin-bottom: 0.1em;
padding: none;
}

#hd{
    font-weight: bolder;
    font-size: xx-large;
}
.subfoot{
    margin-right: 0.5em;
}




